<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="phorb.dev.wyder"
    Publisher="CN=3CBC7A89-9E4B-4361-A96B-4E0A89B8D37F"
    Version="1.1.43.0" />

  <mp:PhoneIdentity PhoneProductId="d04852fc-1c54-4653-85b0-cb4a1d49e3b0"
    PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Wyder Video Downloader</DisplayName>
    <PublisherDisplayName>phorb.dev</PublisherDisplayName>
    <Logo>Assets\wyder.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Wyder Video Downloader"
        Description="An easy-to-use video downloader based on yt-dlp."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\wyder.png"
        Square44x44Logo="Assets\wyder.png">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Wyder">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>